.navbar{
    background: rgb(30,30,29);
    height: 5rem;
    width: 100vw;
    max-width: 95rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display:  flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;

}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.desktopMenu{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
/*.desktopMenuListItem{
    margin: 1rem;
    color: white;
    cursor: pointer;
}
.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}*/
.desktopMenuBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding-right: 2rem;
    border-radius: 3rem;
    background: white;
    color: black;
    margin: 0.5rem 0;
    margin-right: 8rem;
    
   
}  
.desktopMenuBtnImg{
    object-fit: cover;
    margin: 10px 1.0rem;
    height: 1rem;
}
.mobMenu{
    
    object-fit: cover;
    height: 1.8rem;

}
.navMenu{
    position: relative;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
    margin-top: 6rem;
}
.listItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30,30,29);
    
}
.Projects-Button {
  width: fit-content;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  gap: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(120deg, rgb(150, 86, 199), rgb(98, 47, 138));
  transition: all 0.3s;
  box-shadow: 0px 10px 10px rgba(144, 0, 255, 0.166);
}
.IconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: relative;
}
.svgBG {
  width: 25px;
  height: auto;
}
.svgFG {
  width: 9px;
  height: auto;
  z-index: 2;
  position: absolute;
}
.text {
  color: rgb(240, 240, 240);
  font-weight: 500;
  font-size: 16px;
}
.Projects-Button:hover .svgFG {
  animation: clockwise 2s linear infinite;
}

.Projects-Button:hover .svgBG {
  animation: anti-clockwise 2s linear infinite;
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anti-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.Projects-Button:hover {
  background-color: rgb(119, 57, 166);
}
